canvas {
  z-index: 1;
  position: absolute;
  left: 50px;
  top: 20px;
  margin: 50px;
    z-index: 1;
    border:1px solid black;
    border-radius: 8px;
    background-color: rgba(241,241,241,0.5);
    /*background-color: rgb(241,241,241);*/
    background-size: 25px 25px;
    background-image:
      linear-gradient(to right, #e4e4e4 1px, transparent 1px),
      linear-gradient(to bottom, #e4e4e4 1px, transparent 1px);
}

.menu {
  position: fixed;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 0;
  margin-top: 50px;
  width: 200px;
  height: 80%;
  background-color: lightblue;
}

option {
  padding: 10px;
  border: 0.5px solid blue;
}

.buttons {
  position: fixed;
  right: 100px;
  top: 60px;
  width:400px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

ul li:hover {
  background-color: #eee;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.add {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

h3 {
	margin: 0px;
}

.int_buttons {
	padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 10px;
    cursor:pointer
}

.input_commands {
  border-radius: 16px;
  border: 0.2px solid #blue;
  padding-left: 10px;
  background-color: #e4e4e4;
}


body {
  background-image: url('assets/background.jpg');
}

.container {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #f6f6f6;
  padding: 10px;
  width:300px;
  margin: 0;
}

.modal_body_content {
  position: fixed;
  top:100px;
  background-color: white;
  right:0;
  left:0;
  width: 60%;
  margin:0 auto;
  padding: 50px;
  padding-top: 25px;
  border-radius: 16px;
}

.modal {
  z-index: 2;
  position: fixed;
  background-color:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.error_popup {
  width: 300px;
  position: fixed;
  top: 20px;
  right:20px;
  background-color: red;
  padding: 20px;
  padding-bottom:10px;
  padding-top:10px;
  border-radius: 16px;
  font-size: 12px;
}

.error_text {
  margin: 0;
}

.close_x {
  float:right;
  cursor: pointer;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.story {
  font-family: 'Montserrat', sans-serif;
}

.res_logo {
  width: 300px;
  position: fixed;
  bottom: 200px;
  right: 150px;
}

.close:hover {background: #bbb;}
.add:hover {background: #bbb;}
